* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}

.left {
  width: 50%;
  height: 80vh;
min-width: 500px;
  display: flex;
  justify-content: end;

}
.right {
  width: 50%;
  height: 80vh;
min-width: 500px;
  background-image: url(./images/ea71bb_e7959a5be116482b9727a9be900d2d35~mv2_d_5454_3840_s_4_2.avif);
  background-size: cover;
  background-position: center;
  flex-grow: 1;
}
.line {
  width: 50px;
  height: 3px;
  background-color: black;
}
.child {
  width: 60%;
  height: 70vh;

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.child h2 {
  font-size: 50px;
  width: 200px;
}
.btns button {
  padding: 5px 10px;
}
.btns button:nth-child(1) {
  background-color: black;
  color: white;
}
.btns button:nth-child(1):hover {
  background-color:white;
  color: black;
}
.btns button:nth-child(2):hover {
  background-color:black;
  color: white;
}
